FirstArduinoProject/.vs/FirstArduinoProject/v16/Browse.VC.db
FirstArduinoProject/.vs/FirstArduinoProject/v16/TestStore/0/*.*
**/Debug/
**/ipch/
**/ipch/
FirstArduinoProject/.vs/FirstArduinoProject/v16/ipch/AutoPCH/1293329486f58c3b/.FIRSTARDUINOPROJECT.VSARDUINO.ipch
FirstArduinoProject/.vs/FirstArduinoProject/v16/*.*.db
**/AutoPCH/
**/AutoPCH/**
**/AutoPCH/*/*.*
/FirstArduinoProject/.vs/FirstArduinoProject/v16/*
/FirstArduinoProject/ArduinoBLESerial/Release/*
/FirstArduinoProject/DemoArduinoBLE/Release/*
/FirstArduinoProject/ArduinoEthernetTCP/Release/*
/FirstArduinoProject/DemoArduinoBLEAggregate/Release/*
/FirstArduinoProject/ArduinoBLESerial/__vm/Compile.vmps.xml
/FirstArduinoProject/ArduinoBLESerial/__vm/Compile.vmps.xml
/FirstArduinoProject/DemoArduinoBLEAggregate/__vm/Compile.vmps.xml
/FirstArduinoProject/DemoArduinoBLEAggregate/__vm/Upload.vmps.xml
/FirstArduinoProject/DemoArduinoBLEAggregate/__vm/.DemoArduinoBLEAggregate.vsarduino.h
/FirstArduinoProject/ArduinoBLESerial/__vm/*
/FirstArduinoProject/DemoArduinoBLE/__vm/Compile.vmps.xml
/FirstArduinoProject/DemoArduinoBLE/__vm/Upload.vmps.xml
/FirstArduinoProject/ArduinoWifi/Release/*
/FirstArduinoProject/ArduinoWifi/__vm/Configuration.Release.vmps.xml
/FirstArduinoProject/DemoArduinoBT_BinaryMsg/Release/*
/ArduinoBluetoothCmdTests/Release/*
/FirstArduinoProject/DemoArduinoBT_BinaryMsg/__vm/Upload.vmps.xml
/FirstArduinoProject/DemoArduinoBT_BinaryMsg/__vm/Upload.vmps.xml
